body {
    color:       #ffffff;
    font-family: sans-serif;
    margin:      0;
    background-color: rgb(36,42,49);
}



a {
    color:       #cfcfcf;
    white-space: nowrap;
    padding:     20px 16px;
    text-decoration: none;
}

a:hover {
  color: white;
}


.articles-section{
    display:               grid;
    grid-template-columns: 2fr 2fr;
    grid-gap:              1vw;
}


.article-blob{
    padding:        15px;
    margin-bottom:  10px;
    border-style:   solid;
    border-width:   3px;
    border-radius:  25px;
    border-color:   teal;
}


.container {
    background-color: rgb(36,42,49);
    text-align:       left;
    position:         relative;
    padding:          15px;
    margin-right:     150px;
    margin-left:      150px;
}

.footer-background{
    font-size:      25px;
    display:        flex;
    flex-wrap:      nowrap;
    align-items:    center;
    padding:        10px;
    background-image: url("../assets/footer_image.jpg");
    background-size: 100%;
}

.footer-logo{
    height: 150px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.vertical-line{ 
    margin:         10px;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100px;
    width:          1px;       
}



/* ---------------------- Header navigation -------------------*/
.topnav {
    font-size:        25px;
    background-color: rgb(36,42,49);
    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://i.exophase.com/xbox/featured/l/0515j.jpg");*/
    padding-top:      5px;
    overflow:         hidden;
    display:          flex;
    align-items:      center;
}

.topnav .search-container {
    white-space: nowrap;
    width:       55%;
}

.topnav input[type=text] {
    padding:        10px;
    color:          #cfcfcf;
    border-radius:  25px;
    background-color:rgba(207, 207, 207, 0.1);
    font-size:      20px;
    border-color:   rgba(255, 255, 255, 0.3);
    width:          85%;
    }

.topnav .search-container button {
    padding:            6px 8px;
    background-color:   rgba(207, 207, 207, 0.1);
    border-radius:      25px;
    border-color:       rgba(255, 255, 255, 0.3);
    cursor:             pointer;
}

.topnav .search-container button:hover {
    background: #cfcfcf;
}


@media screen and (max-width: 676px) {
/*  .topnav a, .topnav input[type=text] {
    float: none;
    display: flex;
    text-align: left;
    width: 10%;
    margin: 0;
    padding: 14px;
  }*/

  .topnav{
    flex-direction: column;
  }

  .topnav input{
    width:20%;
  }

  header{
    font-size: 10px;
  }

  .container{
    margin: 0px;
  }

  .articles-section{
    grid-template-columns: 2fr;
  }

  .footer-background{
    font-size: 15px;
    flex-wrap: wrap;
    background-size: 
  }

  .footer-background a{
    padding: 5px;
  }

  .footer-logo{
    height: 50px;
  }

}

