body {
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(36, 42, 49);
}

a {
    color: #b3b3b3;
    white-space: nowrap;
    padding: 20px 16px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}


/* ---------------------------------- Main section -------------------------------------- */
.card-section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1vw;
}

/*reassign bootstrap element*/
.card {
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    /*height: 100%;*/
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-primary {
    background-color: #2b2b2b;
    border-color: white;
}

/* ---------------------- Header navigation ---------DEPRECATED----------*/

span {
    padding-left: 25px;
}

.nav-item {
    padding: 10px 10px;
    text-align: left;
}

/*----------------------------- Grid layout -----------------------------*/
.main-container {
    margin-left: 0;
    display: grid;
    grid-template-areas: "sidebar main main" "footer footer footer";
}

.container-main {
    margin-left: 30px;
    grid-area: main;
    margin-right: 30px;
}

/*----------------------------- Sidebar -----------------------------*/
.container-sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 200px;
}

.container-sidebar a {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}


.container-sidebar-wrapper {
    margin-top: 20px;
    position: fixed;
}

.container-sidebar a:hover {
    color: #f1f1f1;
}

.pagination {
    margin-top: 10px;
}

.page-link {
    background-color: #2b2b2b;
    color: white;
}


/*----------------------------- Footer layout -----------------------------*/
.footer-wrapper {
    grid-area: footer;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    position: relative;
}


.footer-background {
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    /*background-image: url("../assets/logo/footer_image.jpg");*/
    background-color: rgb(36, 42, 49);
    background-size: 100%;
}

.footer-logo {
    height: 150px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.vertical-line {
    margin: 10px;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100px;
    width: 1px;
}