{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div class="container-main">
        <h2>Games</h2>
        <div class="card-section">
            {% for game in games %}
            <div class="card-main">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="{{ game.background_image}}" alt="Game background image"
                         style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <a href="#" class="btn btn-primary">See Details</a>

                        {% if game.id in ugames %}
                        <a href="{{ url_for('removegame', id=game.id, from='home', page=current_page  ) }}" class="btn btn-dark" style="float: right"><i class="fas fa-star"></i>Remove</a>
                        {% else %}
                        <a href="{{ url_for('addgame', id=game.id, from='home', page=current_page ) }}" class="btn btn-dark" style="float: right"><i class="far fa-star"></i>Add</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav>
            <ul class="pagination justify-content-end">
                {% if url_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{url_prev}}" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_prev}}" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% if url_next %}
                <li class="page-item">
                    <a class="page-link" href="{{url_next}}" tabindex="-1">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_next}}" tabindex="-1">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container-sidebar">
        <div class="container-sidebar-wrapper">
            <a href="user/{{current_user.username}}"><i class="fas fa-user"></i> Profile</a>
            <a href="#newreleases"><i class="fa fa-plus-square"></i> New releases</a>
            <a href="#topgames"><i class="fa fa-star"></i> Top</a>
            <a href="#allgames"><i class="fa fa-gamepad"></i> All games</a>
        </div>
    </div>
</div>
{% endblock %}


