{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div class="container-main">
        <h2>Search</h2>
        <div class="card-section">
            {% for game in games %}
            <div class="card-main">
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="{{ game.background_image}}" alt="Game background image"
                         style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#game{{game.id}}">Details
                        </button>
                        <!------------------------------------------ MODAL WINDOW  ---------------------------------------->
                        <div class="modal fade" id="game{{game.id}}" tabindex="-1" role="dialog"
                             aria-labelledby="gamename{{game.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="gamename{{game.id}}">{{game.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="card-img-top" src="{{ game.background_image}}"
                                             alt="Game background image"
                                             style="width:100%;">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong>Website: </strong><a
                                                    href="{{game.url}}">{{game.url}}</a>
                                            </li>
                                            <li class="list-group-item"><strong>Released: </strong> {{game.released}}
                                            </li>
                                            <li class="list-group-item"><strong>Rating: </strong> {{game.rating}}</li>
                                            <li class="list-group-item"><strong>Achievements count: </strong>
                                                {{game.achiev_count}}
                                            </li>
                                            {% if game.id in ugames %}
                                            <li class="list-group-item"><a
                                                    href="{{ url_for('removegame', id=game.id, from='search', page=current_page  ) }}"
                                                    class="btn btn-dark" style="float: right"><i
                                                    class="fas fa-star"></i>Remove</a>
                                            </li>
                                            {% else %}
                                            <li class="list-group-item"><a
                                                    href="{{ url_for('addgame', id=game.id, from='search', page=current_page ) }}"
                                                    class="btn btn-dark" style="float: right"><i
                                                    class="far fa-star"></i>Add</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        <p class="card-text">{{game.description |safe}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if game.id in ugames %}
                        <a href="{{ url_for('removegame', id=game.id, from='search', page=current_page  ) }}"
                           class="btn btn-dark" style="float: right"><i class="fas fa-star"></i>Remove</a>
                        {% else %}
                        <a href="{{ url_for('addgame', id=game.id, from='search', page=current_page ) }}"
                           class="btn btn-dark" style="float: right"><i class="far fa-star"></i>Add</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        <div class="container-sidebar">
        <div class="container-sidebar-wrapper">
            <a href="user/{{current_user.username}}"><i class="fas fa-user"></i> Profile</a>
            <a href="{{ url_for('search', by='new') }}"><i class="fa fa-plus-square"></i> New releases</a>
            <a href="{{ url_for('search', by='top') }}"><i class="fa fa-star"></i> Top</a>
            <a href="{{ url_for('search', by='all') }}"><i class="fa fa-gamepad"></i> Random games</a>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination justify-content-end" style="margin-right: 5%">
        {% if url_prev %}
        <li class="page-item">
            <a class="page-link" href="{{url_prev}}" tabindex="-1">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_prev}}" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        {% if url_next %}
        <li class="page-item">
            <a class="page-link" href="{{url_next}}" tabindex="-1">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_next}}" tabindex="-1">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}


